# Build artifacts
/build/
build/**
*.pbw
*.elf
*.bin
*.raw.bin
*.map
*.o
*.wafpickle*
.lock-waf*
.waf*
/.wafpickle-*
node_modules/

# OS files
.DS_Store
*.swp
*~

# Temporary files
*.tmp
menu_icon_color.png
TEMP_WIKI*.md

pebble_screenshot_*.png
